{% load static %}
{% if compact %}
<header class="relative z-10 flex shrink-0 items-center justify-between px-8 py-3">
    <img src="{% static 'branding/logos/govt.png' %}" alt="Organizer" class="h-12">
    <img src="{% static 'branding/world-tourism-day/world-tourism-day-logo.png' %}" alt="World Tourism Day 2026" class="h-14">
    <img src="{% static 'branding/logos/BG-tourism-board.png' %}" alt="Sponsor" class="h-12">
</header>
{% else %}
<header class="relative z-10 flex shrink-0 items-center justify-between p-8">
    <img src="{% static 'branding/logos/govt.png' %}" alt="Organizer" class="h-20">
    <img src="{% static 'branding/world-tourism-day/world-tourism-day-logo.png' %}" alt="World Tourism Day 2026"
         class="h-28 animate-float-slow">
    <img src="{% static 'branding/logos/BG-tourism-board.png' %}" alt="Sponsor" class="h-20">
</header>
{% endif %}
